//navbar2 -Andrea//
@mixin poner-size($font-size,$base-width,$base-height){
	font-size:$font-size;
	width:$base-width;
	height:$base-height;
}
@mixin paddings-margin($base-pading,$base-padingb,$base-margin,$base-marginb){
	padding-top:$base-padding;
	padding-bottom:$base-padding;
	padding-left:$base-paddingb;
	padding-right:$base-paddingb;
	margin-top:$base-margin;
	margin-bottom:$base-margin;
	margin-left:$base-marginb;
	margin-right:$base-marginb;
}
@mixin border($border,$solido,$transparent,$border-radius){
border:$border $solido $transparent;
border-radius:$border-radius;
}
@mixin textDecoration-color($decoration , $fondo-celeste){
	text-decoration:$decoration;
	color:$fondo-celeste;
}