//header2//
$alignNav:center;
$fondoBlanco:#FFFFFF;
$fondoNegromedio:#111417;
$negro:#000000;
$fondoGrisclaro:#F4F5F7;
$fondoGrisoscuro:#7d7d7d;
$fondoCeleste: #0C7ABF;
$transparent:transparent;
$solid:solid;
$fondo-amarillo:#FFBF00;
$border-radius:4px;
$border:3px;
$baseWeight:100%;
$baseWidth:70%;
$fontSize:20px;
$basePadding:20%;
$baseMargin:20%;
$basePaddingb:20%;
$baseMarginb:20%;

